<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="vendor/autoload.php"
         convertDeprecationsToExceptions="true"
         colors="true"
         verbose="true"
         cacheResultFile="var/phpunit/.phpunit.result.cache"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory suffix="Test.php">tests/Functional</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="/var/phpunit/coverage"
        ignoreDeprecatedCodeUnits="true"
        includeUncoveredFiles="true"
        processUncoveredFiles="true"
    >
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
        <directory suffix=".php">tests</directory>
            <file>Functional/WebTestCase.php</file>
        </exclude>
    </coverage>

    <php>
        <ini name="precision" value="14"/>
        <ini name="serialize_precision" value="14"/>

        <const name="PHPUNIT_TESTSUITE" value="true"/>

        <env name="APP_ENV" value="test" force="true"/>
        <env name="APP_DEBUG" value="1" force="true"/>
    </php>
</phpunit>
